.footer {
  background-color: var(--dark-grey);
  padding: 60px 0;
}

.footer-link {
  display: flex;
}

.footer-container {
  margin-right: 70px;
}

.logo-footer {
  color: var(--white-color);
  text-transform: capitalize;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19em;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.address {
  width: 231px;
  height: 81px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.footer-mil {
  margin-bottom: 9px;
}

.address-footer {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.social {
  width: 206px;
  height: 80px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ft-social-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--blue);
  }
}

.footer-social-icon {
  fill: var(--white-color);
}

.footer-wrapper {
  margin-left: 93px;
}

.footer-text {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.form-email {
  margin-right: 12px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-grey);
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.online-btn {
  position: relative;
}

.online-btn-icon {
  position: absolute;
  top: 13px;
  left: 160px;
}
.contacts {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--blue);
  }
}
.colortext {
  color: var(--blue);
}
